.side-nav{
    width: 16%;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    padding:30px 30px 30px 30px;

    background-color: var(--bg-white);
    scroll-behavior: smooth;
}
.side-nav::-webkit-scrollbar {
    display: none;
  }
  
.side-link-active{
    background-color: var(--primary-color);
    color: var(--bg-white);
    width: 90%;
    height: 30px;
    margin-top: 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    text-decoration: none;
}
.side-link{
    background-color: var(--bg-color);
    color: var(--primary-color);
    width: 90%;
    height: 30px;
    margin-top: 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
}
.side-link:hover{
    transition-duration: 1s;
    background-color: none;
    color: var(--bg-white);
    background-color: var(--primary-color-hover);
    width: 90%;
    height: 30px;
    margin-top: 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
}
.side-link-active span, .side-link span{
    margin-left: 12px;
}
.bi{
    font-size: 24px;
}
.w-100{
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}
.m-100{
    margin-top: 32px;
    text-align: left;
    width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    position:relative;
    display: flex;
    justify-content: space-between;
    top: 0px;
    overflow-y: hidden;
    background-color: none;
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
    display: none;
  }
  
.col{
    width: calc(100% - 20%);
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
    overflow: scroll;
    margin-bottom: 100px;
}
.row{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
.row-narrow{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.row-narrow-p0{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    flex-direction: column;
}
.action{
    background-color: var(--bg-tab);
    padding: 12px 24px 12px 24px;
    border: none;
    border-radius: 100px;
}
.table tr{
    margin-top: 24px;
}
.m-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.m-1 span{
    margin-left: 24px;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom:1px solid var(--border-color);
}
.profile-notification{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.w-50{
    width: 70%;

}
.w-10{
    width: 18%;
    height: 48px;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    background-color: none;
    background: none;
    padding: 24px;
}
.global-tab{
    padding: 24px 32px;
    width: auto;
    background-color: var(--bg-tab);
    border-radius: 12px;
}
.active-tab{
    background-color: var(--bg-white);
    color: var(--primary-color);
    padding: 16px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    cursor: pointer;
}
.in-active-tab{
    background-color: none;
    background: none;
    color: var(--primary-color);
    padding: 16px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    cursor: pointer;
}
.profile-dropdown{
    width: 140px;
    height: auto;
    background-color: var(--bg-white);
    border-radius: 12px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: absolute;
    top: 40px;
    right: 16px;
    display: none;
}
.notification-dropdown{
    width: 400px;
    padding: 24px;
    height: auto;
    background-color: var(--bg-white);
    border-radius: 12px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 24px;
    display: none;
}
.active-notification{
    background-color: var(--bg-tab);
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
}
.profile-notification:hover .notification-dropdown{
    display: block;
}
.dropdown{
    position: relative;
    cursor: pointer;
    width: 5%;
}
.dropdown:hover .profile-dropdown{
    display: block;
}
.profile-dropdown li{
    font-size: 16px;
    font-weight: 600;
    margin: 12px;
}
.profile-dropdown li:hover{
    font-size: 16px;
    font-weight: 600;
    margin: 12px;
    color: var(--primary-color);
}